h3.center Elixirの軽量コールバックスレッドの実装と
h3.center Phoenixの同時セッション最大数・レイテンシ改善の構想
h3.center
  span.nonsplit
    span.heading 北九州市立大学 山崎 進 &nbsp;
  	img.heading src="resources/images/ZACKY-3000.jpg"
  span.nonsplit
    span.nonsplit
      span.heading (有)デライトシステムズ 森 正和 &nbsp;
      img.heading src="resources/images/piacere_ex.jpg"
    span.nonsplit
      span.heading &nbsp; 上野 嘉大 &nbsp;
      img.heading src="resources/images/enpedasi.jpg"
  span.nonsplit
    span.heading 京都大学 高瀬 英希 &nbsp;
    img.heading src="resources/images/takasehideki.jpg"

img.img src="resources/images/Official_Elixir_logo.png"